body {
  padding: 10px;
  margin: 0;
  background-color: #ffffcc;
}

#app {
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

.bird {
  border-style: solid;
  border-radius: 5px;
  border-color: #663300;
  background-color: #ffffcc;
  padding: 3em;
  margin: 3em;
}

.bird-attribute {
  margin: 1em;
}
